<div class="candlestick-bg">
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body green"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body red"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body green"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body red"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body green"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body red"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body green"></div>
    <div class="wick-bottom"></div>
  </div>
  <div class="candle">
    <div class="wick-top"></div>
    <div class="candle-body red"></div>
    <div class="wick-bottom"></div>
  </div>
</div>
