<h1>Strategies</h1>

<%= link_to "New Strategy", new_user_strategy_path(current_user) %>

<% @strategies.each do |strategy| %>
  <div>
    <h3><%= link_to strategy.name, strategy %></h3>
    <p>Risk: <%= strategy.risk_level %></p>
    <p>Description: <%= strategy.description %></p>
  </div>
<% end %>
